body#frontpage h1, body#frontpage h2, body#frontpage h3, body#frontpage p, body#frontpage td, body#frontpage div {
  color: #ddd;
}
body#frontpage h1 {
  width: 100%;
  border-bottom: none;
  padding-bottom: 0rem;
  margin-bottom: 0.9375rem;
}
body#frontpage .frontpage-hide {
  display: none;
}
body#frontpage #pane1 {
  text-align: center;
  padding: 4.0625rem 0.9375rem;
  position: relative;
}
body#frontpage #pane1 .input-group {
  background-color: '#EBEBEB';
  border: none;
  padding: 0;
}
body#frontpage #pane1 input[type="search"] {
  box-shadow: none !important;
  border: none;
}
