html {
  font-size: 1em;
}

body {
  line-height: 1.45;
  font-family: "Roboto", "Droid Sans", "Segoe UI", sans-serif;
}

p {
  text-align: justify;
}

h5, h4, h3, h2, h1 {
  margin: 1.414em 0 0.707em;
  font-weight: inherit;
  line-height: 1.2;
}

h5 {
  font-size: 1em;
}

h4 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.44em;
}

h2 {
  font-size: 1.728em;
}

h1 {
  margin-top: 0;
  font-size: 2.0736em;
}

small {
  font-size: 0.83333em;
}

body {
  color: #1C1C1C;
  background-color: #F5F5F4;
}

section.body {
  margin: 4rem auto;
}

footer {
  background-color: #312f2f;
  color: #989797;
  margin: 5rem 0 0;
  padding: 3rem 0;
}
footer a {
  color: #93b7be;
  text-decoration: none;
}

a.button, input[type="button"], input[type="submit"], button {
  display: inline-block;
  box-sizing: border-box;
  line-height: 1.24;
  text-decoration: none;
  text-align: center;
  color: inherit;
  padding: 0.6rem;
  border: solid 0.0625rem transparent;
}
a.button.expand, input.expand[type="button"], input.expand[type="submit"], button.expand {
  width: 100%;
}
a.button.form, input.form[type="button"], input.form[type="submit"], button.form {
  margin: 2rem 0rem;
}
a.button img:first-of-type, input[type="button"] img:first-of-type, input[type="submit"] img:first-of-type, button img:first-of-type {
  position: static;
  display: inline;
  margin-right: 0.5rem;
  vertical-align: -12%;
  width: 1em;
  height: 1em;
}
a.button.primary, input[type="button"], input[type="submit"], button {
  background-color: #427aa1;
  border-color: #427aa1;
  color: #FFFFFF;
}
a.button.primary:hover, input[type="button"]:hover, input[type="submit"]:hover, button:hover {
  background-color: #4b81a6;
}

nav.top .clearfix {
  clear: both;
}
nav.top img.logo {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 0;
}
@media (min-width: 40rem) {
  nav.top img.logo {
    margin: 0.75rem 0;
  }
}
nav.top span.hamburger {
  display: none;
}
nav.top ul.menu {
  float: right;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
nav.top ul.menu li {
  margin: 0rem;
}
@media (min-width: 40rem) {
  nav.top ul.menu li {
    float: left;
  }
}
nav.top ul.menu li a.button, nav.top ul.menu li input[type="button"], nav.top ul.menu li input[type="submit"], nav.top ul.menu li button {
  padding: 1.75rem 0.75rem;
  display: block;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="number"],
select,
textarea {
  font-family: inherit;
  font-size: 1.125rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.6rem;
  border: solid 0.0625rem #e8e8e8;
  background-color: #FFFFFF;
}
input[type="text"]::placeholder, input[type="text"]::-webkit-input-placeholder, input[type="text"]:-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="text"]:-ms-input-placeholder,
input[type="date"]::placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="date"]:-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="time"]::placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="time"]:-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="email"]::placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="email"]:-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="number"]::placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="number"]:-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="number"]:-ms-input-placeholder,
select::placeholder,
select::-webkit-input-placeholder,
select:-moz-placeholder,
select::-moz-placeholder,
select:-ms-input-placeholder,
textarea::placeholder,
textarea::-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder {
  color: #e8e8e8;
}
input[type="text"].error,
input[type="date"].error,
input[type="time"].error,
input[type="email"].error,
input[type="number"].error,
select.error,
textarea.error {
  border-color: #ffaa9d;
  color: #FF715B;
}
input[type="text"].error:focus,
input[type="date"].error:focus,
input[type="time"].error:focus,
input[type="email"].error:focus,
input[type="number"].error:focus,
select.error:focus,
textarea.error:focus {
  border-color: #FF715B;
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #427aa1;
}

form input, form select, form textarea {
  margin: 0.5rem 0rem 1rem;
}
form label {
  margin: 1rem 0rem 0.2rem;
}
form .form-group {
  margin: 0.75rem 0;
  padding: 0.75rem 0;
  border-bottom: solid 0.0625rem #dddddc;
}
@media (min-width: 40rem) {
  form .form-group {
    margin: 1.25rem 0;
    padding: 1.25rem 0;
  }
}
form .form-group h2:first-of-type, form .form-group h3:first-of-type, form .form-group h4:first-of-type {
  margin-top: 0;
}
form .form-group:last-of-type {
  border-bottom: none;
}
form p.description {
  color: #494949;
  font-size: 80%;
  font-style: italic;
  line-height: normal;
  margin: 1rem 0rem;
}
form p.error,
form p.error-message {
  color: #D52317;
  line-height: normal;
  font-size: 80%;
  font-weight: bold;
  margin: 0.2rem 0rem 0.7rem;
}
form label.required::after {
  content: " *";
  color: #D52317;
}
form label.optional::after {
  content: " (opcjonalne)";
  color: #f4f4f4;
  font-style: italic;
}

div.checkbox {
  margin: 1rem 0rem;
}
div.checkbox input[type="checkbox"] {
  width: 0.88rem;
  height: 0.88rem;
  margin: 0.25rem 0rem;
  border: none;
}
div.checkbox p.error, div.checkbox p.error-message {
  margin-left: 2rem;
}
div.checkbox label {
  margin: -0.125rem 0rem 0.25rem 0.5rem;
}
div.checkbox.error {
  border: solid 0.0625rem #FF715B;
}

table {
  width: 100%;
  box-sizing: border-box;
}
table thead {
  font-weight: bold;
}
table tr {
  border-bottom: solid 0.0625rem #9A9A9C;
}
table tr:first-of-type {
  border-top: solid 0.0625rem #9A9A9C;
}
table td {
  padding: 0.8rem;
}
