$color1: #000022
$color2: #041537
$color3: #007BC2
$color4: #E28413
$color5: #FBF5F3

$color-text: $color1
$color-primary: $color3
$color-bg: $color5
$color-gray: #9A9A9C
$color-error: #CB271C
$color-black: #000000
$color-white: #FFFFFF

@import "normalize.css"
@import "typescale"
@import "grid"

@import "buttons"
@import "forms"
@import "tables"
@import "navtop"

section.body
    margin-top: 4rem
