body
  color: $clr-text
  background-color: $clr-bg
section.body
  margin: 4rem auto
footer
  background-color: $clr1
  color: mix($clr-white, $clr1, 50%)
  margin: 5rem 0 0
  padding: 3rem 0
  a
    color: $clr4
    text-decoration: none
