table
    width: 100%
    box-sizing: border-box
    thead
        font-weight: bold
    tr
        border-bottom: solid 1px $color-gray
        &:first-of-type
            border-top: solid 1px $color-gray
    td
        padding: 0.8rem
