table
  width: 100%
  box-sizing: border-box
  thead
    font-weight: bold
  tr
    border-bottom: solid rems(1px) $clr-gray
    &:first-of-type
      border-top: solid rems(1px) $clr-gray
  td
    padding: 0.8rem
