$font-ratio: 1.333 !default
$font-family: 'Roboto', 'Droid Sans', 'Segoe UI', sans-serif !default
html
    font-size: 1em
body
    line-height: 1.45
    color: #333
    background-color: #F3F3F3
    font-family: $font-family
p
    text-align: justify
%headings
    margin: 1.414em 0 0.5em
    font-weight: inherit
    line-height: 1.2
h5
    @extend %headings
    font-size: 1em
h4
    @extend %headings
    font-size: 1em * $font-ratio
h3
    @extend %headings
    font-size: 1em * $font-ratio * $font-ratio
h2
    @extend %headings
    font-size: 1em * $font-ratio * $font-ratio * $font-ratio
h1
    @extend %headings
    margin-top: 0
    font-size: 1em * $font-ratio * $font-ratio * $font-ratio * $font-ratio
small
    font-size: 1em / $font-ratio
