// https://coolors.co/0b132b-1c2541-16438c-5bc0be-ffffff
// https://coolors.co/312f2f-16438c-427aa1-93b7be-ebf2fa

$clr1: #312f2f
$clr2: #16438c
$clr3: #427aa1
$clr4: #93b7be
$clr5: #ebf2fa

$clr-text: #1C1C1C
$clr-bg: #F5F5F4
$clr-gray: #9A9A9C
$clr-error: #FF715B
$clr-black: #000000
$clr-white: #FFFFFF

@import "typescale"
@import "respond"
@import "layout"
@import "buttons"
@import "navtop"
@import "forms"
@import "tables"
